{% extends 'base.html' %}

{% block page_title %}Ana Sayfa{% endblock %}
{% block title %}Ana Sayfa{% endblock %}

{% block content %}

{% for post in posts %}
<h2>
    <a href="#">{{ post }}</a>
</h2>
<p class="lead">
    Yazar: <b>{{ post.author }}</b>
</p>
<p><span class="glyphicon glyphicon-time"></span> {{ post.created_at }}</p>
<hr>
{% if post.thumbnail %}
<center><img class="img-responsive" src="{{ post.thumbnail.url }}" alt=""></center>
{% endif %}
<hr>
<p>{{ post.content|truncatewords:"50" }}</p>
<a class="btn btn-primary" href="#">Devamını oku <span class="glyphicon glyphicon-chevron-right"></span></a>

<hr>
{% endfor %}

<!-- Pager -->
<ul class="pager">
    <li class="previous">
        <a href="#">&larr; Daha Eski</a>
    </li>
    <li class="next">
        <a href="#">Daha Yeni &rarr;</a>
    </li>
</ul>

{% endblock %}
